* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align horizontal et verticale */
  align-items: center;
  min-height: 40px;
  background: skyblue;
}

header > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  width: 400px;
  font-family: sans-serif;
  list-style: none;
  justify-content: space-around;
}

 .nav-links li {
  display: block;
  width: 100px;
}

 .nav-links li a {
  text-decoration: none;
  color: black;
}

 .burger {
  display: none;
  cursor: pointer;
}

/* @media screen and (max-width: 1100px) { */
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease;
  }

  .nav-links li a{color: white;}

 .nav-active{
 transform: translateX(0%); 
 }

 .burger{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 20px;
 }

 .burger span{width: 100%;
 height: 4px;
 background: black;
 display: block;
 position: absolute;
 top:50%;
 }

 .burger span::before,
 .burger span::after{
    content: '' ;
    position: absolute;
    width: 100%;
    height: 4px;
    background:black;
    transition: background 1s ease;
    transition: transform .5s ease;
 }

 .burger span::before{
    transform: translateY(-10px);
 }

 .burger span::after{
    transform: translateY(10px);
    }

    /* animation du burger */
    /* premier span */

 .burger.active span::before{
    transform: translateY(0px)rotateZ(45deg);
    background: red;
 }

 .burger.active span::after{
    transform:translateY(0px) rotateZ(-45deg);
 background: red;}

    .burger.active span{background: transparent;}

/* } */


