* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imgpd {
    border: 1px solid;
    width: 600px;
    height: 450px;
}

section {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
}

{
    display: flex;
    /* border: 1px solid; */
    width: 800px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 100px / 120px;
    /* border-radius: 30px;     */
    background: rgb(189, 187, 187);
    margin-top: 50px;
}

#ligne1 {
    display: flex;
    justify-content: space-between;

}

#category {
    border: 1px solid;
    width: 600px;
    height: 50px;
}

button {

    border: 1px solid;
    width: 600px;
    height: 50px;

}

